@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 37 99 235;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 37 99 235;
  }
}

@layer base {
  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  * {
    cursor: none !important;
    transition: all 0.029s ease-in-out;
  }

  @media (hover: none) {
    * {
      cursor: auto !important;
    }
    .custom-cursor {
      display: none !important;
    }
  }
}

.magic:after {
  content: "";
  display: block;
  position: absolute;
  top: 92%;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(var(--primary));
  z-index: -1;
  transition: all 0.1s cubic-bezier(0, 0.59, 1, 0.26);
}

.magic:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(var(--primary));
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: rgba(var(--primary), 0.6);
}

::selection {
  background: rgba(var(--primary), 0.6);
}
