@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;

    --primary: 37 99 235;
    --primary-foreground: 255 255 255;

    --secondary: 255 107 107;
    --secondary-foreground: 255 255 255;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 226 232 240;

    --primary: 37 99 235;
    --primary-foreground: 226 232 240;

    --secondary: 255 107 107;
    --secondary-foreground: 226 232 240;
  }

  body {
    color: rgb(var(--foreground));
    background: rgb(var(--background));
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    @apply transition-all duration-200 ease-in-out;
  }

  * {
    cursor: none !important;
  }

  @media (hover: none) {
    * {
      cursor: auto !important;
    }
    .custom-cursor {
      display: none !important;
    }
  }
}

.magic:after {
  content: "";
  display: block;
  position: absolute;
  top: 92%;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(var(--primary));
  z-index: -1;
  transition: all 0.1s cubic-bezier(0, 0.59, 1, 0.26);
}

.magic:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(var(--primary));
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: rgba(var(--primary), 0.6);
}

::selection {
  background: rgba(var(--primary), 0.6);
}
