@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}

.magic:after {
  content: "";
  display: block;
  position: absolute;
  top: 92%;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: all 0.1s cubic-bezier(0, 0.59, 1, 0.26);
}

.magic:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: -1;
}

.box::after {
  content: "";
  height: 100%;
  width: 100%;
  transition: opacity 500ms;
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(100, 100, 200, 0.2),
    transparent 20%
  );
  z-index: -100;
  border-radius: 0.5rem;
  top: 0px;
  left: 0px;
  position: absolute;
}

::-webkit-scrollbar {
  display: none;
}
